<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Inversion inicial</label>
            <input 
                id="initial-investment" 
                name="initial-investment" 
                type="number" 
                [(ngModel)]="ingresarValorInicialInversion"
                ><!-- se utiliza ngModel para establecer la comunicación vidireccional-->

        </p>
        <p>
            <label for="annual-investment">Inversion anual</label>
            <input 
                id="annual-investment" 
                name="annual-investment" 
                type="number" 
                [(ngModel)]="ingresarValorAnualInversion">

        </p>        
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">tasa de retorno</label>
            <input 
                id="expected-return" 
                name="expected-return" 
                type="number" 
                [(ngModel)]="ingresarTasaRentabilidadEsperada">

        </p>
        <p>
            <label for="duration">Duración</label>
            <input 
            id="duration" 
            name="duration" 
            type="number" 
            [(ngModel)]="ingresarDuracion">

        </p>        
    </div>
    <p>
        <button>Calcular</button>
    </p>

</form>
